<a href="https://colab.research.google.com/github/Aman1067/Python_EDA_Projects/blob/main/Python_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Salaries.csv')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

In [ ]:
df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
30357,30358,ANDREI RISKIN,RECREATION LEADER,14017.79,0.00,668.63,NaN,14686.42,14686.42,2011.0,NaN,San Francisco,NaN
30358,30359,JAMES CLANCEY,TRANSIT OPERATOR,6208.94,1372.97,7103.77,NaN,14685.68,14685.68,2011.0,NaN,San Francisco,NaN
30359,30360,PILAR BALDOZA,SPECIAL NURSE,11906.70,0.00,2778.23,NaN,14684.93,14684.93,2011.0,NaN,San Francisco,NaN
30360,30361,SU QING CHEN,LIBRARY PAGE,14604.00,0.00,78.22,NaN,14682.22,14682.22,2011.0,NaN,San Francisco,NaN
30361,3036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30362 entries, 0 to 30361
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                30362 non-null  int64
 1   EmployeeName      30361 non-null  object
 2   JobTitle          30361 non-null  object
 3   BasePay           30361 non-null  float64
 4   OvertimePay       30361 non-null  float64
 5   OtherPay          30361 non-null  float64
 6   Benefits          0 non-null      float64
 7   TotalPay          30361 non-null  float64
 8   TotalPayBenefits  30361 non-null  float64
 9   Year              30361 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            30361 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 3.0+ MB

In [ ]:
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,30362.000000,30361.000000,30361.000000,30361.000000,0.0,30361.000000,30361.000000,30361.0,0.0,0.0
mean,15180.599993,74696.904818,5379.488587,4237.655611,NaN,84314.049016,84314.049016,2011.0,NaN,NaN
std,8764.742899,34452.939565,11261.837830,8532.614169,NaN,41207.910605,41207.910605,0.0,NaN,NaN
min,1.000000,0.000000,0.000000,0.000000,NaN,14682.220000,14682.220000,2011.0,NaN,NaN
25%,7590.250000,52076.660000,0.000000,46.000000,NaN,55316.810000,55316.810000,2011.0,NaN,NaN
50%,15180.500000,68522.980000,349.900000,1280.000000,NaN,77318.230000,77318.230000,2011.0,NaN,NaN
75%,22770.750000,97847.650000,5713.800000,5027.210000,NaN,109822.320000,109822.320000,2011.0,NaN,NaN
max,30361.000000,294580.020000,245131.880000,400184.250000,NaN,567595.430000,567595.430000,2011.0,NaN,NaN

In [3]:
df.shape

(97380, 13)

In [4]:
df.isnull().sum()

Id                      0
EmployeeName            0
JobTitle                1
BasePay                 9
OvertimePay             1
OtherPay                1
Benefits            36160
TotalPay                1
TotalPayBenefits        1
Year                    1
Notes               97380
Agency                  1
Status              97380
dtype: int64

In [ ]:
print(df.shape[0])
print(df.shape[1])

30362
13

In [5]:
df=df.drop(['Id','Notes','Agency','Status'],axis=1)

In [6]:
df['EmployeeName'].isnull().sum()

0

In [7]:
df['EmployeeName'].value_counts().head()

KEVIN LEE      9
Kevin Lee      9
MICHAEL LEE    8
RICHARD LEE    8
DAVID WONG     8
Name: EmployeeName, dtype: int64

In [8]:
df['JobTitle'].nunique()

2113

In [12]:
df.dropna(subset=['JobTitle'],inplace=True)

In [13]:
len(df[df['JobTitle'].str.contains('CAPTAIN',case=False)])

409

In [14]:
df[df['JobTitle'].str.contains('fire',case=False)]['EmployeeName']

4             PATRICK GARDNER
6                   ALSON LEE
8              MICHAEL MORRIS
9          JOANNE HAYES-WHITE
10              ARTHUR KENNEY
                 ...
95091       Andrew A Burda Jr
95166         Larry  Bradshaw
95258       Leonardo M Harris
96265    Joaquinn  Villarreal
96609          Joshua G Smith
Name: EmployeeName, Length: 4273, dtype: object

In [15]:
df['BasePay'].min()

-166.01

In [16]:
df['BasePay'].max()

319275.01

In [17]:
df['BasePay'].mean()

71901.85153998624

In [18]:
df[df.isnull().sum(axis=1)==5]

Empty DataFrame
Columns: [EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

In [19]:
df[df['EmployeeName']=='ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [20]:
df[df['EmployeeName']=='ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [21]:
df[['BasePay','EmployeeName']].sort_values('BasePay',ascending=False).head(1)

         BasePay    EmployeeName
72925  319275.01  Gregory P Suhr

In [22]:
df[df['BasePay'].max()==df['BasePay']]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [23]:
df.groupby('Year').mean()['BasePay']

<ipython-input-23-d6ec57df777a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Year').mean()['BasePay']

Year
2011.0    63595.956517
2012.0    65436.406857
2013.0    93911.235380
Name: BasePay, dtype: float64

In [ ]:
df.groupby('JobTitle').mean()['BasePay']

<ipython-input-66-8e8087c7f9d8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('JobTitle').mean()['BasePay']

JobTitle
ACCOUNT CLERK                                     45771.337692
ACCOUNTANT                                        58303.965000
ACCOUNTANT INTERN                                 47951.251250
ACUPUNCTURIST                                     66374.400000
ADMINISTRATIVE ANALYST                            67397.078161
                                                      ...
WORKER'S COMPENSATION ADJUSTER                    73558.886190
WORKER'S COMPENSATION SUPERVISOR I                90966.140000
X-RAY LABORATORY AIDE                             50857.987500
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 1026, dtype: float64

In [25]:
df[df['JobTitle'].str.contains('ACCOUNTANT',case=False)].mean()['BasePay']

<ipython-input-25-50ff1c5ba157>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df['JobTitle'].str.contains('ACCOUNTANT',case=False)].mean()['BasePay']

73060.54182719547

In [30]:
df[df['JobTitle']=='ACCOUNTANT']['BasePay'].mean()

46643.172